<html>
	<head>
		<title>Bazar Mulya</title>
		<link rel="stylesheet" type="text/css" href="Stylesheet/w3.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css"href="Stylesheet/stylesheet.css"/>
		<link  rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		
		
	</head>
	<body class="w3-light-green">
	
		<div class="header">
			<ul>
				<li><a href="#">Register</a></li>
				<li><a href="login.html">Login</a></li>
				
			</ul>
		</div>
		<div class="w3-container  w3-card-4 w3-light-grey " style="margin: 30px auto 0; width: 90%;">
					<div class="container w3-blue" style="margin-top: 10px;">
						<ul class="w3-navbar" style="line-height: 50px;">
							<li><a href="#">Home</a></li>
							<li><a href="#">Map</a></li>
							<li class="w3-dropdown-hover"><a href="#">Categories</a><div class="w3-dropdown-content w3-row-padding w3-padding-bottom">
										<a href="#">Food</a>
										<a href="#">Food</a>
										<a href="#">Food</a>
									</div>
								</li>								
									
									
								
							<li><a href="#">Search</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
						
						
						
					</div>
					
				<div class="w3-container">
                    <div class="w3-section w3-padding">
                        <h4 class="w3-text-grey w3-xlarge">Categories</h4>
                    </div>
                    
                    <div class="w3-section" style="width: 50%">
                        <ul class="w3-ul">
                             <li><a href="#">Lorem Ipsum</a></li>
                             <li><a href="#">Lorem Ipsum</a></li>
                             <li><a href="#">Lorem Ipsum</a></li>
                             <li><a href="#">Lorem Ipsum</a></li>
                             <li><a href="#">Lorem Ipsum</a></li>
                        </ul>
                    </div>
                    
                    
                   
                </div>
                        
                    
		</div>
		
		<!--Footer Section-->
					
					
					<div class="w3-container w3-section w3-card-4 w3-teal w3-center" style="margin: 30px auto 0; width: 90%;">
								<p>This site was created by 2nd year 2nd semester students for the fullfillment of the course project under the supervision of Mrs. Shanta Acharya</p>
								<p>&copy; Copyrights reserved by Team Terminal 2016-infinity. </p>
					
					</div>
	</body>
</html>