{% extends 'bazarmulya/Base.html' %}
{% load staticfiles %}
<title>Bazar Mulya</title>


{% block body %}

 {% if user.is_authenticated %}
    {% if notifications != None %}
        {% for i in notifications %}
            {{ i.actor_id }} {{ i.notification_type }} {{ i.product }}<br/>
        {% endfor %}
    {% else %}
        No new notifications
    {% endif %}
{% endif %}


<!--Home Page Image Section-->
<div class="w3-section w3-center">
    <img class="home-image" alt="Bazar Mulya" src="{% static 'bazarmulya/images/BazarShop.jpg' %}" style="width: 100%;height: 400px;">
</div>
        <!-- News Feed -->
                   <div>
                        <div class="w3-container w3-green">
                        <p class="w3-text-white">News Feed</p>
                    </div>

                       <div class="w3-section w3-margin">
                           <ul class="w3-ul w3-card-2">
                               <li class="w3-padding-16">
                                <img src="http://placehold.it/60x60" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                <span class="w3-large">Lorem Ipsum</span><br>
    <span><a class="w3-text-blue"href="#">Read More</a></span>
                           </li>

                               <li class="w3-padding-16">
                                <img src="http://placehold.it/60x60" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                <span class="w3-large">Lorem Ipsum</span><br>
    <span><a class="w3-text-blue" href="#">Read More</a></span>
                           </li>

                               <li class="w3-padding-16">
                                <img src="http://placehold.it/60x60" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                <span class="w3-large">Lorem Ipsum</span><br>
    <span><a class="w3-text-blue"  href="#">Read More</a></span>
                           </li>
                               </ul>
                       </div>
                </div>
<!--Items Section-->
<div class="w3-section">
    <div class="w3-container w3-brown">
        <p>Popular Items</p>
    </div>





    <div class="w3-row-padding">
        {%for list in lists%}
        {%endfor%}
 {% for list in lists %}
        <div class="w3-container w3-third">
            <div class="w3-section">
                <div class="w3-card-4 w3-center w3-padding-4" style="width: 300px; height: 330px;margin: 0 auto 0;">
                    <div class="w3-padding-top">
                        <img class="w3-hover-opacity" alt="" src="{% static 'bazarmulya/images/'  %}{{list.product}}.jpeg" style="width: 100%;height: 200px;" style="">
                    </div>

                    <p class="w3-small"> {{list.product}} </p>
                    <p class="w3-tiny">Area: {{list.area}}</p>
                    <p class="w3-tiny">Price: Rs.{{list.price}}</p>

                    {% if user.is_authenticated %}
                         <a href="/website/notifylike/{{list.id}}">Like</a>
                        <a href="/website/updatevalues">Suggest</a>
                    {% endif %}


                </div>
            </div>
        </div>
  {% endfor %}



</div>
 <div class="w3-section w3-card-4" style="margin: 30px auto 0; width: 90%;">
        <div class="w3-container w3-red w3-padding">
            <div class="w3-row">
                <h3 class="w3-center">Site Map</h3>
                <div class="w3-third w3-center footer">
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                </div>

                <div class="w3-third w3-center footer">
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                </div>

                <div class="w3-third w3-center  footer">
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                </div>
            </div>

        </div>




{% endblock %}




